:root {
  --positive: #8cc24a;
  --positiveLight: #f9fff1;
  --warning: #d4b073;
  --warningLight: #fffbf4;
  --error: #ce2b21;
  --errorLight: #fff7f6;
  --neutral0: #fff;
  --neutral5: #f7f7f8;
  --neutral10: #f5f5f6;
  --neutral20: #efecea;
  --neutral40: #e8e3df;
  --neutral60: #e0dad5;
  --neutral80: #958f8f;
  --neutral90: #605858;
  --neutral95: #221d1d;
  --neutral100: #000;
  --wcagPrimary: #d91560;

  --valentino: #ffc229;
  --honey-flower: #eeba85;
  --violet: #c19361;
}
