@import "vars";


* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

*:focus {
  outline: none;
}

html {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-font-smoothing: antialiased;
}

body  {
  background: #f5f1f1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
